html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*resets*/
html { font-size: 12px; }
h1, h2, h3, h4, h5, h6, p, a, button, table, div, ul, li, textarea, input, footer { font-family: 'Open Sans', '微軟正黑體', Arial, Helvetica, sans-serif, 'STHeiti Light', '儷黑 Pro', 'LiHei Pro', 'Microsoft Yahei', 'Microsoft JhengHei', '新細明體'; }
a { text-decoration: none; outline: none; /* for Firefox Google Chrome  */  behavior:expression(this.onFocus=this.blur()); /* for IE */}
input[type=submit], input[type=reset], input[type=button], input[type=text], input[type=password], textarea, select{-webkit-appearance:none;}
iframe[name=google_conversion_frame]{ display: none;}
:focus {outline: none;}
/*end resets*/

/*style*/
body{overflow-x: hidden;}
.wrap{margin: 0 auto; width: 1230px;}
.wrap:after{content: ''; clear: both; height: 0; visibility: hidden; display: block;}
header{background: #070707; overflow: hidden; position: fixed; left: 0; top: 0; width: 100%; z-index: 99;}
header .logo{float: left; margin-top: 9px;}
header .logo .logo-apple{display: block; float: left;}
header .logo .logo-apple img{width: 125px; height: auto;}
header .logo .logo-elec{display: block; margin-right: 18px; margin-top: 4px; float: left;}
header .logo .logo-elec img{width: 115px; height: auto;}
header .logo i{color: #fff; font-size: 26px; float: left; display: block; margin: 5px 10px 0; font-family: 'PT Sans', sans-serif;}
header .logo a:hover img{-webkit-transform: scale(1.15); transform: scale(1.15);}
header .logo a img{-webkit-transition: .25s; transition: .25s;}
header .nav{float: left; margin-left: 20px;}
header .nav li{float: left; padding: 2% 0;}
header .nav li:last-child{border-right: none;}
header .nav li.active{background: #F1D6D3;}
header .nav li.active a{border-right: none; color: #F56E76;}
header .nav li a{display: block; color: #fff; font-size: 22px; font-weight: bold; border-right: 2px solid #fff; padding: 0 32px;}
header .nav li a:hover{color: #F56E76;}
header .nav li.active a:hover{color: #fff; cursor: default;}
header .social-icon{float: right; margin-top: 5px;}
header .social-icon a{color: #fff; font-size: 32px;}
header .social-icon a:hover{color: #4267b2;}

.main{margin-top: 90px;}
.video-section{background: rgba(0,0,0,.7); width: 900px; float: left;}
.youtube-live > img{display: block;}
iframe.video{width :900px; height:500px;}
.related-clip{background: #000; margin-top: -10px; padding: 15px 0; overflow: hidden; height: 115px; position: relative;}
.related-clip ul{box-sizing: border-box; padding: 15px 5px 0; position: absolute; left: 0px; top: 0px;}
.related-clip ul:after{content: ''; display: block; height: 0; visibility: hidden; clear: both;}
.related-clip ul li{display: block; float: left; margin: 0 6px; width: 210px; height: 126px; box-sizing: border-box; background: #000; cursor: pointer; -webkit-transition: all ease .3s; transition: all ease .3s;}
.related-clip ul li img{width: 100%; height: auto; -webkit-transition: all ease .4s; transition: all ease .4s; opacity: .5;}
.related-clip ul li.active img{/*border: 2px solid #ffeb3b*/; box-shadow: 0px 0px 10px 3px rgba(255,255,255,.65); box-sizing: border-box; opacity: 1;}
.main-bn .swiper-container img{width: 100%; height: auto;}
.swiper-button-prev, .swiper-button-next{background-image: none; color: #fff; width: 60px; height: 60px; font-size: 30px; margin-top: -30px; text-align: center; background-color: rgba(0,0,0,.4); border-radius: 50%; box-sizing: border-box; padding: 10px; -webkit-transition: all ease .3s; transition: all ease .3s;}
.swiper-button-prev:hover, .swiper-button-next:hover{color: #b3df26; background-color: rgba(0,0,0,.75);}
.btn-prev{position: absolute; left: 5px; top: 50%; transform: translateY(-50%); cursor: pointer; opacity: .6;}
.btn-next{position: absolute; right: 5px; top: 50%; transform: translateY(-50%); cursor: pointer; opacity: .6;}
.btn-prev:hover, .btn-next:hover{opacity: 1;}
.btn-prev i, .btn-next i{font-size: 30px; color: #fff;}
.pc-youtube{height: 505px; background: #000;}

.banner-side{float: right; width: 300px;}
.banner-side a img{border: 1px solid #c4c4c4; box-sizing: border-box; display: block; -webkit-transition: .3s; transition: .3s; width: 100%;}
.banner-side a:hover img{-webkit-filter: contrast(1.25); filter: contrast(1.25);}
.bn-aside a{display: block;}
.bn-aside{margin: 25px 0 0;}

.sectionB{background: #fff7f6; padding: 3.5% 0 5%; margin-top: 5%;}
.title{font-size: 24px; color: #0f1d3a; font-weight: bold; border-bottom: 2px solid #cecece; padding-bottom: 8px; margin-bottom: 3%;}
.title > span{display: inline-block; vertical-align: -8px; width: 36px; height: 36px; margin-right: 10px; background: url(../img/logo_elec_s.jpg) no-repeat; background-size: cover;}
.sectionB .products{/*overflow: hidden;*/}
.sectionB .products:after{content: ''; visibility: hidden; clear: both; height: 0; display: block;}
.sectionB div[class^='pds']{float: left; position: relative;}
.sectionB div[class^='pds'] em{font-size: 15px; display: block; position: absolute; z-index: 50; color: #445463; border:1px solid #445463; padding: 1.2% 7%; -webkit-transition: .3s; transition: .3s;}
.sectionB div[class^='pds'] a:hover img{-webkit-filter: blur(3px); filter: blur(3px);}
.sectionB div[class^='pds'] a img{-webkit-transition: .3s; transition: .3s;}
.sectionB div[class^='pds'] a:hover em{background: #445463; color: #fff; bottom: 18%;}
.sectionB div[class^='pds'] .op01{position: absolute; left: -110px; top: 90px; z-index: 10; width: 45%; pointer-events: none;}
.sectionB div[class^='pds'] .op02{position: absolute; right: 20px; top: 65px; z-index: 10; width: 38%; pointer-events: none;}
.sectionB div[class^='pds'] .op03{position: absolute; left: 35px; top: 72px; z-index: 10; width: 31%; pointer-events: none;}
.sectionB div[class^='pds'] .op04{position: absolute; right: -80px; top: 35px; z-index: 10; width: 44%; pointer-events: none;}
.sectionB .pdsA a:hover .op01, .sectionB .pdsB a:hover .op03{transform: rotate(-10deg);}
.sectionB .pdsA a:hover .op02, .sectionB .pdsB a:hover .op04{transform: rotate(10deg);}
.sectionB .pdsA{margin-right: 28px;}
.sectionB .topic{position: absolute; color: #445463; z-index: 10;}
.sectionB .topic h3{font-weight: bold; font-size: 26px;}
.sectionB .topic h3 b{display: block; line-height: 20px;}
.sectionB .topic h4{font-size: 18px; margin: 15px 0 5px;}
.sectionB .topic span{font-size: 15px; display: block;}
.sectionB .pdsA .topic{left: 30%; top: 7%;}
.sectionB .pdsB .topic{right: 30%; top: 7%;}
.sectionB .pdsA em{left: 30%; bottom: 15%;}
.sectionB .pdsB em{right: 30%; bottom: 15%;}
.sectionB .dm-detail{margin-top: 15px; background: #efeff1;}
.sectionB .dm-detail > div{display: none; box-sizing: border-box;}
.sectionB .dm-detail article{width: 970px; margin: 0 auto 3%;}
.sectionB .dm-detail article > h3{font-size: 32px; margin-bottom: 3%; font-weight: bold;}
.sectionB .dm01 article > p{font-size: 18px; margin-bottom: 2%; color: #333;}
.sectionB .dm02 article > p{font-size: 16px; margin-bottom: 2%; color: #333;}
.sectionB .dm-detail .dm01 section{display: -webkit-flex; display: flex; justify-content: center; flex-wrap: wrap; width: 100%;}
.daily-topic{margin-bottom: 4%; width: 42%;}
.daily-topic a{display: -webkit-flex; display: flex; background: #444; margin: 0 5%; position: relative;}
.daily-topic a:before{content: '了解更多'; color: #fff; position: absolute; right: 5%; bottom: 5%; font-size: 15px; border: 1px solid #fff; padding: 1% 3%;}
.daily-topic a:hover img{transform: rotateY(180deg);}
.daily-topic a em{color: #fff; font-size: 22px; margin-bottom: 2%; display: block;}
.daily-topic a p{color: #fff; font-size: 15px;}
.daily-topic a img{width: 40%; height: 100%; transition: .4s;}
.dt-text{box-sizing: border-box; padding: 3% 0 0 3%; width: 100%;}
.sectionC{padding: 3% 0; margin-top: 0%;}
.switch-tab{margin-top: 1.5%;}
.switch-tab ul{overflow: hidden;}
.switch-tab ul li{float: left; width: 50%; text-align: center; background: #fff7f6; box-sizing: border-box; line-height: 54px; border-bottom: 2px solid #ffc5c9;}
.switch-tab ul li.active{background: #fff; border: 2px solid #ffc5c9; border-bottom: none;}
.switch-tab ul li a{color: #f47076; font-size: 20px; display: block; font-weight: bold;}
.switch-content{text-align: center; margin-top: 2%;}
.switch-content > div{display: none;}
.m-ep, .m-sp{display: none;}
.pc-sp{display: block;}

.mlove{padding: 3% 4% 0; overflow: hidden; box-sizing: border-box;}
.ml-text{float: left; width: 420px; height: 595px; background: url(../img/mlove_bg.jpg) no-repeat top center; position: relative;}
.ml-text em{position: absolute; left: 40%; top: 26.6%; color: #fff; font-size: 22px; font-weight: bold;}
.sectionB .dm02 article > p.mheart{color: #E91E63;}
.sectionB .ml-text article{color: #999; font-size: 16px; position: absolute; left: 50%; top: 52%; transform: translateX(-50%); width: 300px;}
.sectionB .ml-text article p{margin-bottom: 3%;}
.ml-mix{float: right; width: 670px;}
.ml-pic{margin-bottom: 6%;}
.ml-pic img{width: 100%;}
.ml-video .youtube-video{width: 670px; height: 375px; margin: 0 auto 0; position: relative;}
.ml-video .youtube-video .video{width: 100%; height: 100%;}
.another-col{clear: both; margin-top: 3%; padding: 0 4% 2%; box-sizing: border-box; width: 100%;}
.another-col ul{display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap;}
.another-col ul li{width: 31%; padding-bottom: 3%;}
.another-col ul li:nth-child(3n+2){margin: 0 3.5%;}
.another-col ul li img{width: 100%; transition: .3s;}
.another-col ul li a p{color: #333; font-size: 17px; padding: 2% 2% 0; line-height: 24px;}
.another-col ul li a:hover img{-webkit-filter: contrast(1.25); filter: contrast(1.25);}
.bn-monly{display: none;}

.unlock-love{box-sizing: border-box; padding: 3%;}
.ul-grid{background: url(../img/grid.jpg) no-repeat; background-size: 100% auto; width: 40%; padding-top: 29%; position: relative; float: left;}
.ul-grid h2{position: absolute; left: 50%; top: 38%; transform: translateX(-50%);}
.ul-grid h2 b{font-size: 30px; display: block; letter-spacing: 10px;}
.ul-grid ul li{position: absolute; color: #F56E76; font-size: 68px; font-family: 'Lobster', cursive; animation: changeColor 5s infinite;}
.ul-grid .ulg-01{left: 7%; top: 2%; animation-delay: .5s;}
.ul-grid .ulg-02{left: 32%; top: 2%; animation-delay: 1s;}
.ul-grid .ulg-03{left: 58%; top: 2%; animation-delay: 1.5s;}
.ul-grid .ulg-04{left: 85%; top: 2%; animation-delay: 2s;}
.ul-grid .ulg-05{right: 8%; top: 37%; animation-delay: 2.5s;}
.ul-grid .ulg-06{right: 8%; top: 73%; animation-delay: 3s;}
.ul-grid .ulg-07{right: 35%; top: 73%; animation-delay: 3.5s;}
.ul-grid .ulg-08{right: 61%; top: 73%; animation-delay: 4s;}
.ul-grid .ulg-09{right: 88%; top: 73%; animation-delay: 4.5s;}
.ul-grid .ulg-010{left: 3%; top: 37%; animation-delay: 5s;}
/*.ul-grid .ulg-01{width: 25%;}
.ul-grid .ulg-01 img{width: 90%;}*/

.ul-text{float: left; width: 52%; margin-left: 8%; text-align: left;}
.ul-text h3{font-size: 32px; letter-spacing: 12px;}
.ul-text h4{font-size: 22px; margin: 2% 0 8%; color: #49afaf;}
.ul-text ul li{font-size: 16px; color: #666; margin-bottom: 3%; line-height: 26px;}
.ul-text ul li span{color: #F56E76;}
.ul-text ul li i{margin-right: 1%;}

.sectionE{margin-top: 5%;}

@keyframes changeColor {
  0% {color: #F56E76;}
  5% {color: #92d2d2; transform: scale(1.3);}
  10% {color: #92d2d2; transform: scale(1.3);}
  15% {color: #F56E76; transform: scale(1);}
  100% {color: #F56E76;}
}

.banner-side a.dumpNone{display: none;}

footer{clear: both; box-sizing: border-box; padding: 1.5% 10%; overflow: hidden; margin-top: 3%; background: #111;}
footer .copyright{float: left; font-size: 14px; color: #fff;}
footer ul{float: right;}
footer ul li{display: inline-block; margin-left: 10px;}
footer ul li a{font-size: 14px; color: #fff;}
footer ul li a:hover{color: #fff; text-decoration: underline; opacity: .7;}

.scroll-top{position: fixed; bottom: 108px; right: 20px; opacity: 0; background: #F1D6D3; box-sizing: border-box; border: 2px solid #F1D6D3; border-radius: 50%; padding: 4px 12px 8px; cursor: pointer; z-index: 99;}
.scroll-top i{color: #F56E76; font-size: 30px;}
.scroll-top:hover{background: #d0eeee; border-color: #d0eeee;}
.scroll-top:hover i{color: #F56E76;}
.scroll-top, .scroll-top i{-webkit-transition: all ease .4s; transition: all ease .4s;}
.scroll-top.active{opacity: 1; bottom: 78px;}

.shop-buy{background: #323a6b; line-height: 56px; text-align: center; position: relative; overflow: hidden; margin-bottom: 10%;}
.shop-buy a{color: #fff; font-size: 22px; z-index: 10; position: relative; line-height: 58px; display: inline-block; width: 12%;}
.shop-buy .color-bg{background: #f01d68; position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0; margin: auto; width: 10px; height: 10px; z-index: 5; border-radius: 50%; -webkit-transition: all ease .4s; transition: all ease .4s;}
.shop-buy .color-bg.active{ opacity: 1; transform-origin: center center; -webkit-transform: scale(130,100); transform: scale(130,100);}
.shop-buy i{margin-right: 5%; font-size: 24px;}

.logo-col{display: -webkit-flex; display: flex; flex-wrap: wrap;}
.logo-col > a{width: 25%; display: block; box-sizing: border-box; padding: 2%;}
.logo-col > a img{width: 100%; transition: .3s;}
.logo-col > a:hover img{opacity: .6;}

.selfLogo{margin-bottom: 9px;}
.social-icon .icon-menu{display: none;}
header .social-icon a.icon-menu:hover{color: #fff;}
.m-menu{display: none;}

.popup-outer{position: fixed; /*display: none*/; width: 100vw; height: 100vh; background: rgba(0,0,0,.75); left: 0; top: 0; z-index: 100;}
.popup{position: absolute; background: #fff; padding: 20px; left: 50%; top: 50%; width: 400px; border-radius: 15px; border:15px solid #F1D6D3; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.popup .btn-close{position: absolute; right: -30px; top: -30px; z-index: 10; cursor: pointer; background: #F56E76; border-radius: 50%; padding: 2% 3%;}
.popup i{color: #fff; font-size: 30px;}
.popup img{display: block;}
.popup .unlock-love{padding: 0;}
.popup .ul-grid{float: none; width: 100%; padding-top: 72%;}
.popup .ul-grid ul li{font-size: 52px;}
.popup .ul-grid .ulg-01{left: 8%; top: 4%; animation-delay: .5s;}
.popup .ul-grid .ulg-02{left: 32%; top: 4%; animation-delay: 1s;}
.popup .ul-grid .ulg-03{left: 59%; top: 4%; animation-delay: 1.5s;}
.popup .ul-grid .ulg-04{left: 86%; top: 4%; animation-delay: 2s;}
.popup .ul-grid .ulg-05{right: 8%; top: 40%; animation-delay: 2.5s;}
.popup .ul-grid .ulg-06{right: 8%; top: 76%; animation-delay: 3s;}
.popup .ul-grid .ulg-07{right: 35%; top: 76%; animation-delay: 3.5s;}
.popup .ul-grid .ulg-08{right: 62%; top: 76%; animation-delay: 4s;}
.popup .ul-grid .ulg-09{right: 88%; top: 76%; animation-delay: 4.5s;}
.popup .ul-grid .ulg-010{left: 4%; top: 40%; animation-delay: 5s;}
.popup .ul-grid h2 b{font-size: 26px;}
.popup h3{text-align: center; font-size: 20px; margin-top: 3%;}
.popupBtn{color: #fff; transition: .3s; background: #F56E76; font-size: 20px; padding: 2% 0; display: block; text-align: center; width: 75%; margin: 4% auto;}
.popupBtn:hover{background: #5cc9c9;}
.popup .popupInfo li{font-size: 14px; color: #666; margin-top: 3%; line-height: 20px;}
.popup .popupInfo li span{color: #e85b64;}

#target-iframe{display: none;}
.popupData{display: none;}
.popupData h4{text-align: center; font-size: 28px; margin-bottom: 5%;}
.popupData label{display: block; text-align: center; margin-bottom: 7%;}
.popupData label input[type=text]{width: 85%; border: none; transition: .3s; border-bottom: 3px solid #F56E76; background: #dedede; font-size: 18px; padding: 3%;}
.popupData label input[type=text]:focus{border-bottom-color: #5cc9c9;}

.gift-col{display: -webkit-flex; display: flex; border-bottom: 1px dashed #ccc; margin-bottom: 2%; padding-bottom: 2%;}
.gift-col:last-child{border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
.gift-col > section{display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; width: 50%; box-sizing: border-box; padding: 0 2%;}
.gift-col > section:first-child{border-right: 1px dashed #ccc;}
.gift-col > section img{width: 75%; height: auto;}
.gift-col > section div:nth-child(1){width: 10%; color: #E91E63;}
.gift-col > section div:nth-child(2){width: 45%;}
.gift-col > section div:nth-child(3){width: 45%; text-align: left;}
.gift-col > section div:nth-child(1) p{font-size: 26px; font-family: 'Lobster', cursive;}
.gift-col > section div:nth-child(3) p{font-size: 17px; color: #444}
.gift-col > section div p b{display: block; font-size: 15px; margin-top: 7px; color: #E91E63;}
.gift-title{font-size: 30px; margin: 2%; color: #49afaf; font-weight: bold;}
.gift-title i{background: #49afaf; color: #fff; font-size: 18px; border-radius: 50%; padding: 1%; vertical-align: 6px; margin-right: .5%;}
.gift-list{text-align: left; width: 30%; margin: 0 auto;}
.gift-list b{font-size: 15px; color: #E91E63; display: inline-block; margin-left: .6%;}
.gift-list li{font-size: 17px; color: #444; margin-bottom: 20px;}
.gift-list i{font-size: 26px; font-family: 'Lobster', cursive; color: #E91E63; display: inline-block; margin-right: 1.5%;}

/*mobile*/
@media screen and (max-width: 1230px) {
	.wrap, .video-section, .banner-side{width: 100%; float: none;}
	header .wrap, .banner-side{box-sizing: border-box; padding: 0 3%;}
	header ul{display: none;}
	header .logo{margin: 3% 0;}
	.youtube-video{position: relative; width: 100%; height: 0; padding-bottom: 53.25%; margin: 2% 0; box-sizing: border-box;}
	.youtube-video .video{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}	
	.related-clip{display: block; overflow-x: scroll; height: 105px; padding: 3%;}
	.related-clip ul li{width: 170px; height: auto; margin: 0 5px; float: none; display: inline-block;}
	.related-clip ul li img{width: 100%; height: auto;}
	.banner-side a img{width: 100%; height: auto;}
	.banner-side{margin-top: 5%;}
	.btn-prev, .btn-next{display: none;}
	.title{text-align: center;}
	.sectionB div[class^='pds'] a img, .sectionB .dm-detail img{width: 100%;}
	.sectionB .pdsA{margin-right: 0;}
	.sectionB .topic span{display: none;}
	.sectionB .topic h3{font-size: 21px;}
	.sectionB .topic h4{font-size: 15px; margin-top: 10px;}
	.sectionB .pdsB .topic{text-align: right;}
	.sectionB .pdsB em{right: 32%;}
	.sectionB div[class^='pds'] em{font-size: 14px;}
	.sectionB div[class^='pds'] a:hover em{bottom: 15%;}
	.switch-content img{width: 100%; height: auto;}
	.switch-tab{padding: 0 3%;}
	.switch-tab ul li a{font-size: 17px;}
	.m-ep, .m-sp{display: block;}
	.m-sp{width: 100%; height: auto;}
	.pc-ep, .pc-sp{display: none;}
	.sectionB{padding: 5% 0 1%; margin-top: 5%;}
	.sectionC{margin-top: 5%;}
	.scroll-top{display: none;}
	footer{padding: 2.5% 5%}
	footer .copyright{float: none; font-size: 13px; opacity: .65; text-align: center;}
	footer ul{float:none; text-align: center; margin-top: 2%; opacity: .65;}
	.main{margin-top: 60px;}
	.social-icon .icon-fb{display: none;}
	.social-icon .icon-menu{display: block;}
	.shop-buy{margin-bottom: 10%;}
	.shop-buy a{width: 100%;}
	.m-menu{position: fixed; left: 0; top: 0; z-index: 90; width: 100vw; height: 100vh; background: rgba(0,0,0,.8);}
	.m-menu ul{width: 80%; margin: 0 auto; text-align: center; margin-top: 56%;}
	.m-menu ul li{display: block; margin-bottom: 4%; padding-bottom: 4%;}
	.m-menu ul li a{font-size: 28px; color: #fff;}
	.m-menu ul li .m-fb{font-size: 40px;}
	.popup{width: 90%; border-width: 15px; box-sizing: border-box;}
	.popup i{font-size: 28px;}
	.popup img{width: 100%;}
	.popup .btn-close{right: -30px; top: -35px; padding: 2% 3%;}
	.sectionB{background: #fff;}
	.m-ep{width: 100%;}
	.sectionB .dm-detail article{width: 85%; font-size: 25px; margin-bottom: 6%;}
	.sectionB .dm-detail article > h3{font-size: 25px; margin-bottom: 4%;}
	.sectionB .dm02 article > p{font-size: 17px;}
	.sectionB .dm-detail > div{padding-bottom: 6%;}
	.sectionB .dm-detail .dm01 section{flex-direction: column;}
	.sectionB .dm-detail .daily-topic a img{width: 45%;}
	.daily-topic{margin-bottom: 6%; width: 100%;}
	.ul-grid{padding-top: 72%;}
	.ul-grid h2 b{font-size: 25px; letter-spacing: 8px;}
	.ul-grid ul li{font-size: 60px;}
	.ul-grid, .ul-text{float: none; width: 100%}
	.ul-text{margin-left: 0; box-sizing: border-box; padding: 0 3%;}
	.ul-text h3{font-size: 25px; letter-spacing: 5px; text-align: center; margin-top: 8%;}
	.popup .ul-grid ul li{font-size: 38px;}
	.popup .ul-grid h2 b{font-size: 19px;}
	.popup h3{font-size: 16px; margin-top: 5%;}
	.popup .popupInfo li{font-size: 14px;}
	.popupBtn{font-size: 20px;}
	.popupData h4{font-size: 23px;}
	.popupData label input[type=text]{width: 95%; padding: 4% 3%;}
	header .social-icon{margin-top: 9px;}
	.bn-aside{display: none;}
	.logo-col > a{width: 50%;}
	.sectionB .pdsA{margin-bottom: 3.5%;}
	.sectionB div[class^='pds']{float: none; overflow: hidden;}
	.sectionB div[class^='pds'] .op01{left: -80px; top: 84px;}
	.sectionB div[class^='pds'] .op02{right: 10px; top: 42px;}
	.sectionB div[class^='pds'] .op03{left: 15px; top: 52px; width: 28%;}
	.sectionB div[class^='pds'] .op04{width: 42%; right: -50px; top: 38px;}
	.ml-video .youtube-video{position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin: 2% 0; box-sizing: border-box;}
	.ml-video .youtube-video .video{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	.ml-text{float: none; width: 100%; height: auto; padding-top: 96%; background: url(../img/mlove_bg_s.jpg) no-repeat top center; background-size: 100% auto;}
	.ml-mix{float: none; width: 100%;}
	.sectionB .ml-text article{width: 75%; margin-bottom: 0; text-align: center; top: 32%;}
	.sectionB .ml-text article p{font-size: 16px; margin-bottom: 5%;}
	.ml-pic{margin: 4% 0;}
	.ml-text em{left: 39%; top: 27.2%; font-size: 21px;}
	.another-col ul li:nth-child(3n+2){margin: 0;}
	.another-col ul li{width: 48%; padding-bottom: 5%;}
	.another-col ul li:nth-child(odd){margin-right: 4%;}
	.another-col ul li a p{font-size: 15px; line-height: 21px;}
	.ul-text ul li{font-size: 15px; line-height: 24px;}
	.daily-topic a p{font-size: 14px;}
	.daily-topic a:before{right: 2%; bottom: 2%; font-size: 14px;}
	.sectionB .dm01 article > p{font-size: 16px;}
	.bn-monly{display: block; margin-top: 4%;}
	.ul-text h4{font-size: 18px; margin-bottom: 5%;}
	.selfLogo + .social-icon{display: none;}
	.gift-list{width: 100%; box-sizing: border-box; padding: 0 3%; font-size: 16px;}
	.gift-title{font-size: 26px; margin-top: 5%;}
	.gift-title i{vertical-align: 4px; margin-right: 1%;}
	.gift-col{flex-direction: column; border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
	.gift-col > section{width: 100%; box-sizing: border-box; border-bottom: 1px dashed #ccc; padding: 3% 2%;}
	.gift-col > section:first-child{border-right: none;}
	.gift-col > section img{display: block; width: 90%;}
	.gift-col > section div:nth-child(2){width: 35%;}
	.gift-col > section div:nth-child(3){width: 55%;}
	.gc-one > section:first-child{padding-top: 0;}
	.gift-col > section div:nth-child(3) p{font-size: 17px;}
}

@media screen and (max-width: 768px) {
	.popup{width: 60%;}
	.popup .ul-grid h2 b{font-size: 20px;}
	header .social-icon a{font-size: 38px;}
	header .social-icon{margin-top: 15px;}
	.title{font-size: 30px;}
	.unlock-love{width: 80%; margin: 0 auto;}
	.sectionB .ml-text article p{font-size: 20px;}
}

@media screen and (max-width: 460px) {
	.popup{width: 90%;}
	.popup .ul-grid h2 b{font-size: 19px;}
	header .social-icon a{font-size: 32px;}
	header .social-icon{margin-top: 9px;}
	.title{font-size: 24px;}
	.unlock-love{width: 98%; margin: 0 auto;}
	.ul-grid h2 b{font-size: 24px;}
	.sectionB .ml-text article p{font-size: 16px;}
}

@media screen and (max-width: 375px) {
	.daily-topic a em{font-size: 18px;}
	.daily-topic a p{font-size: 13px;}
	.sectionB .dm01 article > p{font-size: 14px;}
	.sectionB .dm-detail article > h3{font-size: 22px;}
	.sectionB .dm02 article > p{font-size: 16px;}
	.ul-grid ul li{font-size: 54px;}
	.ul-grid h2 b{font-size: 24px; letter-spacing: 6px;}
	.ul-grid h2{top: 37%;}
	.popup .ul-grid ul li{font-size: 34px;}
	.popup .ul-grid h2 b{font-size: 18px;}
	.popup h3{font-size: 15px;}
	.popup .popupInfo li{font-size: 13px;}
	.popupData h4{font-size: 20px;}
	.popupData label input[type=text]{font-size: 17px;}
	.sectionB .pdsA{margin-bottom: 5.5%;}
	.sectionB div[class^='pds'] .op01{top: 80px;}
	.sectionB div[class^='pds'] .op02{top: 40px;}
	.ml-text{float: none; width: 100%; height: auto;}
	.sectionB .ml-text article p{font-size: 14px; margin-bottom: 5%;}
	.ml-text em{left: 39%; top: 27.2%; font-size: 20px;}
	header .social-icon{margin-top: 10px;}
	.ul-text h3{font-size: 24px;}
	.ul-text h4{font-size: 16px;}
	.another-col ul li a p{font-size: 14px; line-height: 20px;}
	.gift-col > section div:nth-child(3) p{font-size: 16px;}
	.gift-title{font-size: 24px;}
	.gift-list li{font-size: 16px;}
	.gift-list i{font-size: 24px;}
}

@media screen and (max-width: 360px) {
	.main{margin-top: 58px;}
	header .logo .logo-apple img{width: 120px;}
	header .logo .logo-elec img{width: 110px;}
	header .logo i{margin: 8px 8px 0; font-size: 22px;}
	.sectionB .dm-detail article > h3{font-size: 21px;}
	.daily-topic a:before{font-size: 14px;}
	.ul-grid h2{top: 36.5%;}
	.ul-grid ul li{font-size: 52px;}
	.popup .ul-grid ul li{font-size: 32px;}
	.popup .ul-grid h2 b{font-size: 17px;}
	.popup h3{font-size: 13px;}
	.popup .popupInfo li{font-size: 13px;}
	.popupData h4{font-size: 19px;}
	.sectionB div[class^='pds'] .op01{top: 75px;}
	.sectionB div[class^='pds'] .op02{top: 35px;}
	.sectionB div[class^='pds'] .op03{top: 48px;}
	.sectionB div[class^='pds'] .op04{top: 36px;}
	.sectionB .ml-text article p{font-size: 13px;}
	.ml-text em{top: 27.3%;}
	header .social-icon{margin-top: 9px;}
	.another-col ul li a p{font-size: 14px; line-height: 20px;}
	.ul-text h3, .ul-grid h2 b{font-size: 23px;}
	.ul-text h4{font-size: 16px;}
	.gift-col > section div:nth-child(3) p{font-size: 15px;}
	.gift-col > section div p b{font-size: 14px;}
	.gift-list li{font-size: 15px;}
}

@media screen and (max-width: 320px) {
	header .logo .logo-apple img{width: 110px;}
	header .logo .logo-elec img{width: 100px;}
	.main{margin-top: 52px;}
	header .logo i{font-size: 15px; margin: 9px 6px 0;}
	.ul-grid h2 b{font-size: 20px; letter-spacing: 4px;}
	.ul-grid ul li{font-size: 48px;}
	.ul-text h3{font-size: 23px;}
	.ul-text h4{font-size: 14px;}
	.popup .ul-grid ul li{font-size: 26px;}
	.popup .ul-grid h2 b{font-size: 15px;}
	.popup h3{font-size: 12px;}
	.popup .popupInfo li{font-size: 12px;}
	.popupData h4{font-size: 16px;}
	.sectionB div[class^='pds'] .op01{top: 70px; left: -60px;}
	.sectionB div[class^='pds'] .op02{right: 0px;}
	.sectionB div[class^='pds'] .op03{top: 42px;}
	.sectionB div[class^='pds'] .op04{top: 32px;}
	.sectionB .ml-text article p{font-size: 12px;}
	header .social-icon{margin-top: 6px;}
	.ul-text h3{font-size: 20px;}
	.daily-topic a p{font-size: 12px;}
	.daily-topic a em{font-size: 15px;}
}